.task {
  background-color: #333;
  border-radius: 0.3rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
}
.completed {
  background-color: #00ff00;
}
