.task {
  align-items: center;
  background-color: #333;
  border-radius: 0.3rem;
  display: flex;
  font-weight: 700;
  gap: 0.5rem;
  height: 2rem;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
}
.wrapper {
  container-type: inline-size;
  flex: 1;
  height: 2rem;
  overflow-x: hidden;
  display: flex;
  align-items: center;
}
.title {
  white-space: nowrap;
  min-width: 0;
}
.task:hover .overflowing {
  animation: scroll-text 5s linear infinite;
}
.actions {
  display: flex;
  gap: 0.5rem;
}
.completed {
  background-color: #00ff00;
}
@keyframes scroll-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200cqw);
  }
}
