.tasks {
  -ms-overflow-style: none;
  background-color: #111;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 1.5rem 2rem;
}
ul::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 1024px) {
  .tasks {
    padding: 1rem 1.25rem;
  }
}
