.fab {
  background-color: #333;
  border: none;
  border-radius: 50%;
  bottom: 0;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
  position: absolute;
  right: 0;
  transition: 0.3s;
}
.fab:hover,
.fab:focus {
  background-color: #555;
}
