.main {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  justify-content: center;
  min-height: 0;
  overflow-y: auto;
  padding: 1rem;
}
@media screen and (max-width: 1024px) {
  .main {
    grid-template-rows: repeat(2, calc(100vh - 10rem));
    overflow-y: scroll;
    row-gap: 2rem;
  }
}
@media screen and (max-width: 500px) {
  .main {
    grid-template-rows: repeat(4, calc(100vh - 10rem));
  }
}
