.btn {
  background-color: #333;
  border: none;
  border-radius: 50%;
  bottom: 3rem;
  color: #fff;
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 1rem;
  position: fixed;
  right: 0;
  transition: 0.3s;
}
.btn:hover,
.btn:focus {
  background-color: #555;
}
@media screen and (max-width: 1000px) {
  .btn {
    bottom: 4rem;
  }
}
