.dialog {
  background-color: #111;
  border: none;
  width: 40%;
  padding: 1rem;
  border-radius: 0.3rem;
}
.header {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
}
.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  grid-column: 2;
}
