footer {
  background-color: #111;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding: 1rem;
}
#developer {
  grid-column: 2;
  justify-self: center;
}
#version {
  grid-column: 3;
  justify-self: end;
}
