.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  justify-content: center;
  width: 100%;
}
.container i {
  font-size: 6rem;
  opacity: 0.8;
}
